<section>
  <% if(!session.cart || session.cart.totalQty == 0) { %>
    <div class="empty-cart">
        <div class="container mx-auto text-center">
            <h1>Your Cart is Empty</h1>
            <p class="text-secondary">You have not added any product in the cart</p>
            <img src="/img/empty-cart.jpg" style="height: 250px;" class="my-4">
            <div>
                <a href="/" class="my-3">Go Back</a>
            </div>
            
        </div>
    </div>    
   <% } else { %>

    <div class="wrap">

        <header class="cart-header cf">
          <strong>Items in Your Cart</strong>
        </header>    
        <div class="cart-table">
          <ul>
    
      <% for(let product of Object.values(session.cart.items)) { %>
      <!-- begin simple product -->
      <li class="item">
        <div class="item-main cf">
          <div class="item-block ib-info cf">
            <img class="product-img" src="../img/<%= product.item.image %>" />
            <div class="ib-info-meta">
              <span class="title"><%= product.item.name %></span>
              <!-- <span class="itemno"><%= product.item._id %></span> -->
            </div>
          </div>

          <div class="item-block ib-qty">
            <span class="price"><span></span><%= product.qty %></span>
          </div>
          <div class="item-block ib-total-price">
            <span class="tp-price">Rs <%= product.item.price * product.qty  %></span>
            
          </div>  
          <div style="text-align: right; width: 5%; cursor: pointer;">
            <span class="tp-remove" data-product="<%= JSON.stringify(product) %>">X</span>
          </div>
          
                
        </div>
      </li>
<!-- end simple product -->

      <% } %>
      
      
      </ul>
        </div>
        <div class="sub-table cf">
          <div class="summary-block">
            <div class="sb-promo">
                <input type="text" placeholder="Enter Phone Number">
              <textarea  placeholder="Enter Address" style="width: 100%;" rows="5"></textarea>
              <!-- <a class="btn">Apply</a> -->
            </div>        
            <ul>
              <li class="subtotal"><span class="sb-label">Subtotal</span><span class="sb-value">Rs <%= session.cart.totalPrice %></span></li>
              <li class="shipping"><span class="sb-label">Shipping</span><span class="sb-value">Rs 20.00</span></li>
              <li class="tax-calculate"><input type="text" value="06484" class="tax" /><span class="btn">Calculate</span></li>
              <li class="grand-total"><span class="sb-label">Total</span><span class="sb-value">Rs <%= session.cart.totalPrice + 20.00 %></span></li>
            </ul>
          </div>
          
        </div>
        
        <div class="cart-footer cf">
            <a class="btn">Checkout</a>
            <a class="cont-shopping"><i class="i-angle-left"></i>Continue Shopping</a>    
        </div>
    </div>

    <% } %>
</section>